@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700|Yantramanav:100,700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3{
	font-family: 'Yantramanav', sans-serif;
}

p, span{
	font-family: 'Source Sans Pro', sans-serif;
}

a{
	text-decoration: none !important;
}

ul{
	list-style: none;
}

#mastercontainer{
	position: relative;
}

#mobilenavbar{
	display: none;
}

@media only screen and (max-width: 768px){
	
#navbar{
	display: none;
}

#mobilenavbar{
	display: block;
	position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    transition: .3s ease;
}

#mobilenavbar:hover{
	color: red;
}

}

