*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.marg-bot{
	margin-bottom: 5%;
}

#masterwrapper{
	border: 1px solid red;
}

#title{
	border: 1px solid black; 
}

#nav{
	border: 1px solid green;
}

#contentwrapper{
	border: 1px solid blue;
}

#footer{
	border: 1px solid black;
}